body{
margin:0;
font-family:Arial;
background:#0f172a;
color:white;
}

nav{
padding:15px;
background:#111827;
text-align:center;
}

header{
text-align:center;
padding:30px;
}

span{
color:#06b6d4;
}

.chat-container{
max-width:800px;
margin:auto;
padding:20px;
}

.chat-box{
height:400px;
overflow-y:auto;
background:#111827;
padding:15px;
border-radius:10px;
}

.user-message{
background:#2563eb;
padding:10px;
margin:10px;
border-radius:10px;
text-align:right;
}

.bot-message{
background:#334155;
padding:10px;
margin:10px;
border-radius:10px;
}

.input-area{
display:flex;
gap:10px;
margin-top:10px;
}

input{
flex:1;
padding:10px;
border:none;
border-radius:8px;
}

button{
padding:10px 20px;
background:#06b6d4;
border:none;
border-radius:8px;
cursor:pointer;
}
